

    <div class="text-center border border-light p-5 white-form">
        <h1 class="pb-4">CONTRACT<span class="blue-text">ME</span></h1>
        <p class="h4 mb-4">Sign in</p>
      
        <!-- Email -->
        <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" [(ngModel)]="creds.email" (keydown.enter)="login()">
      
        <!-- Password -->
        <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" [(ngModel)]="creds.password" (keydown.enter)="login()">
      
        <div class="d-flex justify-content-around">
          <div>
            <!-- Remember me -->
            <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
          </div>
          <div>
            <!-- Forgot password -->
            <a class="blue-text" (click)="showForgotPasswordForm()">Forgot password?</a>
          </div>
        </div>
      
        <!-- Sign in button -->
        <button mdbBtn color="info" block="true" class="my-4" (click)="login()">Sign in</button>
      
        <!-- Register -->
        <p>Not a member?
          <a class="blue-text" (click)="showRegisterForm()">Register</a>
        </p>
      
        <!-- Social login -->
        <p>or sign in with:</p>
      
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon fab icon="linkedin"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon fab icon="github"></mdb-icon>
        </a>
      
    </div>