

    <div class="text-center border border-light p-5 white-form">
        <h1 class="pb-4">CONTRACT<span class="blue-text">ME</span></h1>
        <p class="h4 mb-4">Request Password Reset</p>
      
        <!-- Email -->
        <input type="email" id="defaultResetPasswordFormEmail" class="form-control mb-4" placeholder="E-mail" [(ngModel)]="creds.email">
        <!-- Reset Password button -->
        <button mdbBtn color="info" block="true" class="my-4" (click)="requestResetPassword()">Reset Password</button>
    </div>